body {
  background-color: cyan;
  color: #000;
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  color: rgb(177, 68, 68);
}
.dad,
.mum {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
}
.dad {
  color: rgb(252, 21, 206);
}
.mum {
  color: rgb(219, 109, 221);
}
.ambulance {
  color: rgb(12, 77, 13);
  font-size: larger;
}

.ambulance-img {
  width: 550px;
}

.sweet {
  color: aqua;
}
